## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/
.history/

## Rider
.idea/
*.sln.iml

## DotNet CLI
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet packages
*.nupkg
.paket/
paket-files/

## Logs
*.log

## OS-specific files
.DS_Store
Thumbs.db

## Test Results
TestResults/

## Build Configuration
launchSettings.json

## Global JetBrains Rider settings
.idea/

## Temporary files
~$*

## Dotnet watch working directory
**/tmp/

## Local environment settings
.env
